In [16]:
print("Hello\nAjinkya")

Hello
Ajinkya

changed the value of a
 I am Changing

In [32]:
import keyword
print(keyword.kwlist)
print("total number of keywords",len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
total number of keywords 35

In [33]:
x=5

In [34]:
print(x)

5

In [35]:
print(id(x))

140737261777872

In [37]:
x=1
type(x)

int

In [39]:
y="teclov"
type(y)

str

In [41]:
a,b,c=1,2,4
a,b,c

(1, 2, 4)

In [42]:
a=[1,2,3,4,4,5,6,7,7,78,4]

In [43]:
a

[1, 2, 3, 4, 4, 5, 6, 7, 7, 78, 4]

In [49]:
for i in range(3):
    print (a[i])

1
2
3

In [100]:
b=["a",'b','c2',4]
for i in range (4):
    print(b[i])

a
b
c2
4

# for loop

In [99]:
a=[1,2,3,4,5,6,7,8,9]
for i in range(1,9,2):
    print(a[i])
    
print("################")

for i in range(1,9,3):
    print(a[i])

2
4
6
8
################
2
5
8

# Star Pattern

In [97]:
str1=' '
for i in range(0,9):
    if i<5:
        str1 +='* '        # note the spaces '* '
        print(str1)
    elif i>4:
        str1 = str1[:-2]   #[:-2] means reducing the stars by 2 after 4rth iteration
        print(str1)

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * *
 * * *
 * *
 *

    
   # Enumerate

In [96]:
string = " my name is Ajinkya"

for n, alphabet in enumerate(string):
    print (alphabet,n)

  0
m 1
y 2
  3
n 4
a 5
m 6
e 7
  8
i 9
s 10
  11
A 12
j 13
i 14
n 15
k 16
y 17
a 18

# while loop - prime number

In [94]:
#prime number 
#num= int(input("enter number"))

num = 13

isDivisible = False;

i=2;
while i<num:
    if num % i == 0:
        isDivisible = True;
        print("{} is Divisible by {}".format(num,i))
    i+=1;
    
if isDivisible:
    print( " {} is not prime num".format(num) )
else: print( " {} is a prime num".format(num) )

 13 is a prime num

# Creating Function

In [104]:
# Documentation
def triple(num):
    """ function which triples the value and returns it"""
    return 3 * num

In [105]:
triple(10)

30

In [106]:
print(triple.__doc__)

 function which triples the value and returns it

In [107]:
#factorial    
def fact(n):
    if n>1:
        return n*fact(n-1)
    else:
        return n

factorial = fact(5)
print(factorial)

120

In [108]:
# when we dont know how many arguments we going to pass

def fun(*args):
    print(args)
    return (sum(args))

In [109]:
print(fun(1,2,3,4))

(1, 2, 3, 4)
10

# lambda function an anonymous function

In [110]:
name = "Ajinkya Jawale"
string_to_list = lambda x:x.split()
print(string_to_list(name))
print(type(string_to_list))

['Ajinkya', 'Jawale']
<class 'function'>

In [111]:
multiply = lambda x, y: x*y
print(multiply(4,4))

16

# String values and Operator

In [114]:
a='ajinkya'
j="jawale"
a,j

('ajinkya', 'jawale')

In [116]:
len(a),len(j)

(7, 6)

In [122]:
print(a.upper())

AJINKYA

In [129]:
space_at_end="there is more space at end          "
print(space_at_end)
print(space_at_end.rstrip())

there is more space at end
there is more space at end

In [136]:
increment = '%4'
print(increment.rstrip('%'))

%4

In [147]:
#note this
increment = '4%'
print(increment.rstrip('%'))

4

In [150]:
start = "        space at starting"
print(start)
print(start.lstrip())

        space at starting
space at starting

In [188]:
#remove from both sides
str1= '*444#'
print(str1.rstrip('#').lstrip('*'))    #sequence doesnt matter just strip it off!

444

# slicing

In [154]:
a='ajinkya jawale'
num = a[7:]
print(num)           #ajinkya len is 7 but note that index starting from 0

 jawale

In [180]:
num.replace("j","k")

'kawale'

In [186]:
a='ajinkya jawale'
num = a[0:7]+a[7:]

In [187]:
num.replace("ajinkya","Ashok")

'Ashok jawale'

In [192]:
print(a[ :-6])          #jawale gayab

ajinkya

In [193]:
print(a[3:-2])         #note the changes

nkya jawa

In [194]:
num='123456789'
even=num[1::2]
print(even)

2468

In [195]:
a="Ajinkya"
b="Ashok"
c="Jawale"
print("{0} {1} {2}".format(a,b,c))

Ajinkya Ashok Jawale

# Concatenate

In [198]:
#concate
a="Ajinkya"
b="Ashok"
c="Jawale"
a+= ' ' + c
print(a)

Ajinkya Jawale

# Data Structures in Python

In [200]:
x=['a','b','c']
y=x
x.append('d')
print(x)

['a', 'b', 'c', 'd']

In [201]:
print(id(x))
print(id(y))

2449311420744
2449311420744

In [203]:
#now we dont want to them share same memory address
y=x.copy()
print(id(y))

2449311203720

In [205]:
name="Ajinkya. Ashok. Jawale."
print(name.split("."))


#use split if there is no "."

['Ajinkya', ' Ashok', ' Jawale', '']

# Tuple

"""

1.	Once tuple created its values can not be modified
2.	Tuple= (         , , , , ,  ,    )
3.	Tuples can have heterogeneous values

"""

# sets

"""
1. Set will return only unique values in the list

functions
1.	intersection    =>print all same elements in the both the list
2.	union           =>print all elements in the list without repeatating
3.	difference       => print all execpt same elements in both the list
4. add
5. remove
6. a.issubset(b)     =>boolean true or false output
7. symmetric differnce =>  prints values from both sets except the values which are comman in both
"""